<div class='row'>
  <div class='col-12 col-md-6'>
    <%= column_chart(chart_data[:column_chart], thousands: ",", prefix: '₫ ') %>
  </div>

  <div class='col-12 col-md-6'>
    <%= pie_chart(chart_data[:pie_chart], donut: true, thousands: ",", prefix: '₫ ') %>
  </div>
</div>
