<h1>Editing invesment</h1>

<%= render "form", invesment: @invesment %>

<br>

<div>
  <%= link_to "Show this invesment", user_invesment_path(@invesment) %> |
  <%= link_to "Back to invesments", user_invesments_path %>
</div>
