<section class="bg-white">
  <div class="container px-5">
    <div class="row">

      <div class="card mb-3">
        <div class="card-body">
          <%= turbo_frame_tag "new_invesment" do %>
            <%= link_to "New invesment", new_user_invesment_path %>
          <% end %>
        </div>
      </div>

      <%= turbo_frame_tag "invesments" do %>
        <div id="invesments" class='row'>
          <% @invesments.each do |invesment| %>
            <%= render invesment %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>
