<h1>New invesment</h1>

<%= turbo_frame_tag "new_invesment" do %>
  <%= render "form", invesment: @invesment %>

  <%= link_to "Cancel", user_invesments_path %>
<% end %>

<br>

<div>
  <%= link_to "Back to invesments", user_invesments_path %>
</div>
